@font-face {
    font-family: fonte-lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

* {
    font: 14px fonte-lato, arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(69, 69, 69);
}

header img {
    height: 70px;
}

header nav {
    margin-top: 20px;
    float: right;
}

header nav a {
    text-decoration: none;
    color: white;
    padding-right: 25px;
    font-size: 20px;
}

header nav a:hover {
    color: blue;
}

.Banner img {
    width: 100%;
    height: 550%;

    object-fit: cover;
}

main {
    width: 1200px;
    margin: 0 auto;
}